body {
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Arial';
}

h1 {
    font-family: 'Gruppo', cursive;
    font-size: 4rem;
}

h3 {
    font-family: 'Gruppo', cursive;
    font-size: 2rem;
    margin-bottom: 6rem;
}

hr {
    width: 20%;
}